/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(193, 193, 193, 0.92);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}

.ip {
    align-items: center;
    margin-left: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    height: 83px;
    text-align: center;
}

.topnav img {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.pages {
    margin-top: 0px;
    background-color: #dddddd;
}

.register_class {
    margin-left: 50px;
}

.register_menu {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.floatleftimg {
    float: left;
}



/* Add a black background color to the top navigation */
.topnav2 {
    background-color: #a10006;
    overflow: hidden;
    top: 0px;
    left: 0px;
    margin-top: 83px;
}

/* Style the links inside the navigation bar */
.topnav2 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav2 img {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}


/* Add a color to the active/current link */
.topnav2 a.active {
    background-color: #4CAF50;
    color: white;
}

.column {
    align-items: center;
    text-align: center;
}

.row::after {
    align-self: center;
}


.wrapper {
    overflow: scroll;
    white-space: nowrap;
}
.table {
    display:table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}
.box {
    /*background-color:#000;*/
    margin:0px;
    width:300px;
    height:300px;
}

