<!-- display button functionality -->
<div class="register_class">

    <p class="sign">Register</p>
    <form name="loginForm" ng-submit="signUp()" novalidate>
        <input type="text" name="username" ng-model="username" required ng-minlength="3" ng-maxlength="8">
        <span ng-show="loginForm.username.$error.required">please fill this box! </span>
        <span ng-show="loginForm.username.$error.minlength">Minimum length is 3 </span>
        <span ng-show="loginForm.username.$error.maxlength">Maximum length is 8 </span>
        <br><br>
        <input type="password" name="password" ng-model="password" required ng-minlength="5" ng-maxlength="10">
        <span ng-show="loginForm.password.$error.required">please fill this box! </span>
        <span ng-show="loginForm.password.$error.minlength">Minimum length is 5 </span>
        <span ng-show="loginForm.password.$error.maxlength">Maximum length is 10 </span>
        <br><br>
        <input class="first_name" type="text" placeholder="First Name" ng-model="first_name">
        <br><br>
        <input class="last_name" type="text" placeholder="Last Name" ng-model="last_name">
        <br><br>
        <input class="country" type="text" placeholder="Country" ng-model="country">
        <br><br>
        <input class="city" type="text" placeholder="City" ng-model="city">
        <br><br>
        <input class="email" type="text" placeholder="Email" ng-model="email">
        <br><br>
        <select id="selectCountry" ng-model="categories">
            <option>Choose a country</option>
        </select>
        <br><br>

        <input ng-disabled="loginForm.$invalid" type="submit" id="submit" value="Submit">
        <br>
        <br>
        <br>
        <br>
    </form>

</div>
