
<h2>Interest Points</h2>

<div style="overflow: scroll;height: 400px;">
    <h3>{{category1_name}}</h3>
    <div ng-repeat="atraction in category1" style="float: left; padding-left: 13px; ">
        <div>
            <img src="{{atraction.image}}">
            <p class="underPhoto">{{atraction.name}}</p>
            <img ng-src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">

        </div>
    </div>
</div>
<div style="overflow: scroll;height: 400px;">
    <p>{{category2_name}}</p>
    <div ng-repeat="atraction in category2" ng-init="registered=false;"  style="float: left; padding-left: 13px">
        <img src="{{atraction.image}}">
        <p class="underPhoto">{{atraction.name}}</p>
        <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
    </div>
</div>
<div style="overflow: scroll;height: 400px;">
    <p>{{category3_name}}</p>
    <div ng-repeat="atraction in category3" style="float: left; padding-left: 13px">
        <img src="{{atraction.image}}">
        <p class="underPhoto">{{atraction.name}}</p>
        <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
    </div>
    <br>
</div>
<div style="overflow: scroll;height: 300px;">
    <p>{{category4_name}}</p>
    <div ng-repeat="atraction in category4" style="float: left; padding-left: 13px">
        <img src="{{atraction.image}}">
        <p class="underPhoto">{{atraction.name}}</p>
        <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
    </div>
</div>