
<div class="ip">
    <h2>Interest Points</h2>
    <button ng-click="ip_page_func(true)">Sort By Rank</button>
    <button ng-click="ip_page_func(false)">Cancel Sorting</button>

    <h3>Show and filter Interest points by category:</h3>
    <label class = "checkbox-inline">
        <input type="checkbox" ng-model="category1_filter">{{category1_name}}
    </label>
    <label class = "checkbox-inline">
        <input type="checkbox" ng-model="category2_filter">{{category2_name}}
    </label>
    <label class = "checkbox-inline">
        <input type="checkbox" ng-model="category3_filter">{{category3_name}}
    </label>
    <label class = "checkbox-inline">
        <input type="checkbox" ng-model="category4_filter">{{category4_name}}
    </label>
    <label class = "checkbox-inline">
        Search Interest Point by name:         <input type="text" ng-model ="search_text">
    </label>
    <button ng-click="search()"> Search</button>
</div>

<div ng-show="search_results_boolean" ng-init="search_results_boolean=false" class="row wrapper">
    {{results_text}}
    <div class="table">
        <div ng-repeat="atraction in search_results" ng-init="registered=false"  style="float: left; padding-left: 13px" class="column tr">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 60%; max-width: 60%">
                    <p class="underPhoto" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                    <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="wrapper row" ng-show="category1_filter" style="height: 300px; width: 90%; margin: auto;" ng-init="category1_filter=true" >
    <h3>{{category1_name}}</h3>
    <div class="table">
        <div ng-repeat="atraction in category1" style="float: left; " class="tr column">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 60%; max-width: 60%" >
                    <p class="underPhoto" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                    <img ng-src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div ng-show="category2_filter" class="wrapper row" style="height: 300px; width: 90%; margin: auto;" ng-init="category2_filter=true">
    <h3>{{category2_name}}</h3>
    <div class="table">
        <div ng-repeat="atraction in category2" class="tr column" style="float: left;">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 60%; max-width: 60%;">
                    <p class="underPhoto" ng-click="openDetailsPage(atraction)" >{{atraction.name}}</p>
                    <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div ng-show="category3_filter" class="wrapper row" style="height: 300px; width: 90%; margin: auto;" ng-init="category3_filter=true">
    <h3>{{category3_name}}</h3>
    <div class="table">
        <div  ng-repeat="atraction in category3" style="float: left; " class="tr column">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 60%; max-width: 60%">
                    <p class="underPhoto" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                    <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="wrapper row" ng-show="category4_filter" style="height: 300px; width: 90%; margin: auto;" ng-init="category4_filter=true">
    <h3>{{category4_name}}</h3>
    <div class="table">
        <div ng-repeat="atraction in category4" style="float: left; " class="tr column">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 60%; max-width: 60%">
                    <p class="underPhoto" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                    <img src={{atraction.isFavor}} ng-click="addOrRemoveToFavorite(atraction.id,atraction.isFavor,atraction)" style="height: 32px; width: 32px;">
                </div>
            </div>
        </div>
    </div>
</div>
