
<!-- display button functionality -->
<div class="login_class" ng-init="valid=false;">

    <h5>Answer verification questions:</h5>
    <select ng-model="selectedQuestion" ng-options="item
                                                    for
                                                    item in allQuestions">
    </select>
    <p> Selected question: {{selectedQuestion}}</p>
    <input type="text" ng-model="answer" ng-show="selectedQuestion != null">
    <button ng-click="restorePassword()">OK</button>
    <br>
    <p ng-show ="valid">Your password is:  {{password}}</p>

</div>