<div class="row wrapper">

    <div class="table">
        <div ng-repeat="atraction in atractions" class="tr column" style="float: left; padding-left: 13px">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 80%; max-width: 80%; padding-top: 15px;">
                    <p class="underPhoto" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>