

<!-- display button functionality -->
<div class="popular" class="row wrapper">
    Popular Interest Points:
    <div class="table">
        <div ng-repeat="atraction in rec_atractions" class="tr column" style="float: left; padding-left: 13px">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 80%; max-width: 80%">
                    <p class="underPhoto" style="padding-left: ({{atraction.image.width / 2}})px" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="saved" ng-init="saved_text='Your Last Two Saved Interest Points:'" class="row wrapper">
    {{saved_text}}
    <div class="table">
        <div ng-repeat="atraction in saved_attractions" class="tr column" style="float: left; padding-left: 13px">
            <div class="td">
                <div class="box">
                    <img src="{{atraction.image}}" ng-click="openDetailsPage(atraction)" style="max-height: 80%; max-width: 80%">
                    <p class="underPhoto" style="padding-left: ({{atraction.image.width / 2}})px" ng-click="openDetailsPage(atraction)">{{atraction.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>